<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spamify</title>
</head>

<body background="static/images/spam_bg.jpg" style="background-repeat:no-repeat; background-size:100% 100%; background-attachment:fixed">
    <div class="bckgimg"></div>
    <p style="font-size:50px"><strong>Spamify</strong></p>

    <nav class="navbar" style="background-color:#1AA7EC">
        <ul>
            <li style="font-size:30px"><a href="/">Home</a></li>
            <li style="font-size:30px"><a href="/check">Check</a></li>
        </ul>
    </nav>
    <h3 style="font-size:30px"><em>Welcome to SPAMIFY!</em></h3>
</body>
</html>